<!--#region Ads Section -->
<div class="home-right-section bg-info  col-sm-3">
    <div class="home-sidebar-wrap"> 
        <div class="home-sidebar">
            <!--#region Display Ads  -->
            <div class="home-sidebar-widget sidebar-slides sidebar-news">
                <div class="sidebar-adss">
                    <h3 class="sidebar-title">News</h3>
                    <div class="sidebar-ads-text">
                        <p>
                            <marquee Direction="left" onMouseOver="this.stop()" onMouseOut="this.start()"
                                BEHAVIOR=alternate>

                                <img loading="lazy" src="assets/images/ssbSelection/icone-new.gif">

                                </a>
                                <a href="#">
                                    <strong>NDA (I) 2019 Final Result</strong>
                                </a>
                            </marquee>
                        </p>
                        <p>
                            <marquee Direction="left" onMouseOver="this.stop()" onMouseOut="this.start()"
                                BEHAVIOR=alternate>

                                <img loading="lazy" src="assets/images/ssbSelection/icone-new.gif">

                                </a>
                                <a href="#">
                                    <strong>NDA (I) 2019 Final Result</strong>
                                </a>
                            </marquee>
                        </p>
                    </div>
                </div>

            </div>

            <div class="home-sidebar-widget sidebar-slides">
                <div class="toopers-col">
                    <h3 class="sidebar-title"> Congratulations </h3>
                    <div class="top-col-body">

                        <div class="top-col-item">
                            <div class="top-col-row">
                                <div class="top-col-img">
                                    <img src="assets/images/ssbSelection/sparsh.jpg" alt="">
                                </div>
                                <div class="top-col-bio">
                                    <h4 class="top-name"> SPARSH KANKANE </h4>
                                    <p class="top-rank"> AIR 1 in Merit List </p>
                                    <p class="top-exam"> NDA 142 Entry </p>
                                </div>
                            </div>
                        </div>

                        <div class="top-col-item">
                            <div class="top-col-row">
                                <div class="top-col-img">
                                    <img src="assets/images/ssbSelection/sidharth.jpg" alt="">
                                </div>
                                <div class="top-col-bio">
                                    <h4 class="top-name"> SIDDHARTH BHARTI </h4>
                                    <p class="top-rank"> AIR 2 In the Merit List </p>
                                    <p class="top-exam"> Army Tech Entry </p>
                                </div>
                            </div>
                        </div>


                        <div class="top-col-item">
                            <div class="top-col-row">
                                <div class="top-col-img">
                                    <img src="assets/images/ssbSelection/sparsh.jpg" alt="">
                                </div>
                                <div class="top-col-bio">
                                    <h4 class="top-name"> SPARSH KANKANE </h4>
                                    <p class="top-rank"> AIR 1 in Merit List </p>
                                    <p class="top-exam"> NDA 142 Entry </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="home-sidebar-widget sidebar-slides">
                <div class="toopers-col">
                    <h3 class="sidebar-title">Recent post</h3>
                    <div class="home-rec-post">

                        <div class="rec-posts-item">
                            <div class="rec-posts-title">
                                <h4>
                                    <a href="http://www.georgiansacademy.in/my-story-harsh-sheoran/"> MY
                                        STORY- HARSH SHEORAN </a>
                                </h4>
                                <p class="rec-post-date"> October 14, 2019 </p>
                            </div>
                        </div>

                        <div class="rec-posts-item">
                            <div class="rec-posts-title">
                                <h4>
                                    <a href="http://www.georgiansacademy.in/my-story-harsh-sheoran/"> MY
                                        STORY- HARSH SHEORAN </a>
                                </h4>
                                <p class="rec-post-date"> October 14, 2019 </p>
                            </div>
                        </div>

                        <div class="rec-posts-item">
                            <div class="rec-posts-title">
                                <h4>
                                    <a href="http://www.georgiansacademy.in/my-story-harsh-sheoran/"> MY
                                        STORY- HARSH SHEORAN </a>
                                </h4>
                                <p class="rec-post-date"> October 14, 2019 </p>
                            </div>
                        </div>

                        <div class="rec-posts-item">
                            <div class="rec-posts-title">
                                <h4>
                                    <a href="http://www.georgiansacademy.in/my-story-harsh-sheoran/"> MY
                                        STORY- HARSH SHEORAN </a>
                                </h4>
                                <p class="rec-post-date"> October 14, 2019 </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="home-sidebar-widget mobile-hidden">
                <div class="home-sidebar-widget-inner">
                    <a href="" target="_blank">
                        <img src="Images/Banner-1.jpg" alt="">
                        <!-- <img src="assets/images/banner4.jpg" alt="New york" style="width:100%;"> -->
                    </a>
                </div>
            </div>

            <div class="home-sidebar-widget">
            
            </div>

 <div class="home-sidebar-widget-inner">
                    <a href="" target="_blank">
                        <img src="Images/Banner-2.jpg" alt="">
                    </a>
                </div>
                
            <div class="home-sidebar-widget sidebar-slides sidebar-news">
                <div class="sidebar-adss">
                    <h3 class="sidebar-title">Follow Us</h3>
                    <div class="sidebar-ads-text sidebarContentWrap iframe-wrap">
                        <div class="">
                            <iframe
                                src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fgapsdwarka%2F&amp;tabs=timeline&amp;width=340&amp;height=500&amp;small_header=false&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId=1548589045454713"
                                width="auto" height="350px" style="border:none;overflow:hidden" scrolling="yes"
                                frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div>
                </div>

            </div>


            <!--#endregion-->

        </div>
    </div>
</div>
<!--#endregion-->