<div class="blog-sidebar cm-col s12 m4 l4">
    <div class="widget-block">
        <div class="rec-posts">
            <div class="sidebarHeaderTitle">
                <h3>Recent post</h3>
            </div>
            <div class="rec-posts-wrap">
                <div class="rec-posts-item">
                    <div class="rec-posts-image">
                        <img src="file:///D:/Sandeep/Academy/Ui/WebsiteUI2/images/img-2.jpg"
                            alt=" MY STORY- HARSH SHEORAN">
                    </div>
                    <div class="rec-posts-title">
                        <h4>
                            <a href="http://www.georgiansacademy.in/my-story-harsh-sheoran/">
                                MY STORY- HARSH SHEORAN
                            </a>
                        </h4>
                        <p class="rec-post-date">
                            October 14, 2019

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="widget-block">
        <div class="sidebarHeaderTitle">
            <h3>Follow Us</h3>
        </div>
        <div class="sidebarContentWrap">
            <iframe
                src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fgapsdwarka%2F&amp;tabs=timeline&amp;width=340&amp;height=500&amp;small_header=false&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId=1548589045454713"
                width="auto" height="350px" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
    </div>



    <div class="widget-block">
        <div class="widget-block-inner">
            <a href="" target="_blank">
                <img src="images/Banner-1.jpg" alt="">
                <!-- <img src="assets/images/banner4.jpg" alt="New york" style="width:100%;"> -->
            </a>
        </div>

    </div>

    <div class="widget-block">
        <div class="widget-block-inner">
            <a href="" target="_blank">
                <img src="images/Banner-2.jpg" alt="">

            </a>
        </div>

    </div>
    
</div>