<!DOCTYPE html>
<html lang="en">

<head>
    <title>Current Affairs Monthly</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <h2>Current Affairs Monthly</h2>
        <form action="/admincurrentaffairsmonthlysave" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="username">User Name:</label>
                <input type="text" class="form-control" id="username" placeholder="User Name" name="username">
            </div>
            <div class="form-group">
                <label for="pass">Password:</label>
                <input type="password" class="form-control" id="pass" placeholder="Enter  password" name="pass">
            </div>

            <div class="form-group">
                <label for="monthyear">Month & Year:</label>
                <input type="month" id="monthyear" name="monthyear">
            </div>

            <div class="form-group">
                <label for="upload">Upload pdf:</label>
                <input type="file" id="upload" name="upload" accept="application/pdf" />
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</body>

</html>