@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

/* ======== Main css============ */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    color: #000000;
    font-weight: 400;
}

ul,
ol,
li,
div,
span,
input,
tt,
dl,
dt,
kbd,
dfn,
code,
label,
em,
select {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}

*,
*:after,
*:before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}

/*header & footer css */
.fadebg {
    z-index: 100;
    position: fixed;
    height: 100%;
    width: 100%;
    text-align: center;
    left: 0%;
    top: 0%;
    background: rgba(0, 0, 0, .5);
    display: none;
}

.mobile_not {
    display: block;
}

.desktop_not {
    display: none;
}

.gaheader {
    float: left;
    width: 100%;
}

.gafooter {
    float: left;
    width: 100%;
    margin: 10px 0 0;
    padding: 0px;
}

.copyright {
    background: #E4E8F3;
    color: #555;
    padding: 8px;
    text-align: center;
    font-size: 12px;
    float: left;
    width: 100%;
    margin: 0px;
}

.ga_top_header {
    width: 100%;
    border-top: 3px solid #004684;
    background: #fff;
}

.galogo img {
    max-width: 100%;
}

.gacontainerfull {
    float: none;
    position: relative;
}

.headbalPanel {
    float: right;
    background: #004684;
    position: relative;
    border-radius: 0px 0px 0px 15px;
    border-bottom: 3px solid #f7a408;
}

.headUserPanel {
    float: right;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.headUserPanel li {
    float: right;
    list-style-type: none;
    margin: 0px;
    float: left;
    color: #fff;
    padding: 0px 8px 5px;
    position: relative;
    font-size: 12px;
    font-weight: 400;
}

.headUserPanel li::after {
    content: "|";
    font-size: 12px;
    width: 14px;
    float: left;
    font-weight: 700;
}

.headUserPanel li:first-child::after {
    display: none;
}

.headUserPanel span {
    cursor: pointer;
}

.headUserPanel a {
    color: #fff;
}

.headUserPanel a:hover {
    text-decoration: none;
}

.headUserPanel b {
    color: #fce18d;
}

.headCntPanel {
    left: 0;
    top: 22px;
    z-index: 105;
    position: absolute;
    border: 4px solid #eee;
    line-height: 20px;
    width: 375px;
    background: #fff;
    display: none;
}

.headCntPanel h2,
.headCntPanel h3 {
    font-size: 13px;
    width: 100%;
    font-weight: bold;
    float: left;
    padding: 5px;
    color: #0A3260;
    background: #F8CB75;
    margin: 0;
}

.headCntPanel h2 {
    border-bottom: 1px dotted #ffffff;
    text-align: center;
}

.headCntPanel p {
    width: 100%;
    float: left;
    padding: 10px;
    margin: 0px;
    font-size: 13px;
}

.headprofile {
    border: 5px solid #2567a1;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 22px;
    right: 0px;
    width: 180px;
    list-style-type: none;
    background: #fff;
    display: none;
    z-index: 9;
}

.headprofile::after {
    border-color: transparent transparent #f0f0f0;
    border-style: solid;
    border-width: 7px;
    content: "";
    position: absolute;
    top: -13px;
    right: 19px;
}

.headprofile li {
    border-bottom: 1px solid #2567a1;
    padding: 8px;
    font-weight: bold;
    color: #2567a1;
}

.headprofile li a {
    color: #2567a1;
}

.headprofile li a:hover {
    text-decoration: none;
}

.headprofile li i {
    margin-right: 5px;
}

.ganavPanel {
    float: left;
    width: 100%;
    margin: 0px;
    background: #d7dff4;
}

.ganav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
}

.ganav>li {
    float: left;
    position: relative;
}

.ganav li a {
    text-decoration: none;
}

.ganav>li>a {
    padding: 8px 14px;
    display: block;
    color: #000;
    font-size: 13px;
}

.ganav>li:hover>a,
.ganav>li.active>a {
    background: #004684;
    color: #fff;
}

.ganav>li.active>a {
    border-radius: 5px 5px 0 0;
}

.ganav>li .fa-caret-right {
    background: #fff;
    color: #004684;
    margin-left: 5px;
    display: inline-block;
    width: 9px;
    height: 9px;
    border: 0px;
    font-size: 9px;
    line-height: 9px;
    text-align: center;
}

.ganav>li:hover .fa-caret-right {
    transform: rotate(90deg);
}

.gasubnav {
    background: #f0f0f0;
    border-bottom: #d1aa54 solid 4px !important;
    box-shadow: 0px 0px 5px 0 #888;
    position: absolute;
    border: 2px solid #eee;
    padding: 0px;
    display: none;
    top: 34px;
    left: 0;
    z-index: 700;
    width: 180px;
}

.gasubnav::after {
    border-color: transparent transparent #f0f0f0;
    border-style: solid;
    border-width: 7px;
    content: "";
    position: absolute;
    top: -14px;
    left: 20px;
}

.ganav>li:hover .gasubnav {
    display: block;
}

.gasubnav>ul {
    list-style-type: none;
    float: left;
    width: 100%;
    margin: 0px;
    padding: 2px;
}

.gasubnav>ul li {
    float: left;
    width: 100%;
}

.gasubnav>ul a {
    padding: 3px 7px;
    display: block;
    color: #000;
    font-size: 13px;
}

.gasubnav>ul li:hover a {
    background: #004684;
    color: #fff;
}

.gasubnav>ul li strong {
    background: #d1aa54;
    padding: 2px;
    float: left;
    width: 100%;
    font-size: 13px;
    font-weight: 700;
}

.gasubnav2 {
    width: 360px;
}

.gasubnav2>ul {
    width: 50%;
}

.gasubnav3 {
    width: 540px;
}

.gasubnav3>ul {
    width: 33.33%;
}

.newblink {
    position: absolute;
    right: 12px;
    top: 0px;
}

.headbtmPanel {
    float: right;
    padding: 5px;
}

.headbtmPanel a {
    display: inline-block;
    margin-right: 8px;
    text-decoration: none;
}

.gstlink {
    background: #eab133;
    padding: 5px 8px;
    border-radius: 3px;
    margin: 2px 8px;
    color: #2567a1;
    font-weight: bold;
}

.lnkFeedback {
    color: #606060;
    font-weight: 700;
}

.lnkFeedback:hover {
    color: #2567a1;
}

.gstlink:hover {
    background: #2567a1;
    color: #fff;
}

.headpanelMob {
    display: none;

    border-bottom: 3px solid #f7a408;
    width: 100%;
    padding: 5px;
    position: relative;
}

.profile_mob {
    background: url(../images/profile.png) no-repeat top left;
    float: right;
    width: 42px;
    height: 36px;
    cursor: pointer;
    padding-right: 10px;
    cursor: pointer;
}

.menuBar {
    float: left;
    width: 40px;
    margin: 0px;
    padding: 2px 5px 0;
    color: #fff;
    font-size: 26px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 10px;
    color: #2567a1;
    transform: translateY(-50%);
}

.loguserMob,
.contcatResplnk {
    display: none;
}

.cashbalMob {
    color: #004684;
    margin-top: 10px;
}

.ganav>li .fa-plus,
.ganav>li .fa-minus {
    display: none;
}

.ganav li {
    margin: 0;
}

.close {
    position: absolute;
    right: -22px;
    width: 22px;
    height: 22px;
    top: -22px;
    background: url(../images/close.png) no-repeat;
}

/*--------- headetr Slider -------------*/

.slide-info {
    width: 50%;
    float: left;
    height: 150px;
    padding: 0px 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.slide-info-txt.info-txt * {
    width: 100%;
}

.slide-info {
    position: relative;
}

.slide-info+.slide-info:before {
    width: 1px;
    height: 80%;
    transform: translateY(-50%);
    content: '';
    background: #000;
    left: 0;
    position: absolute;
    top: 50%;
}


.slide-info:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    left: 0;
    top: 0;
    opacity: 0.9;
}

.slide-info>div {
    z-index: 50;
}


.slide-info-txt.info-txt {
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    position: relative;
}

.slide-info-txt.info-txt h4,
.slide-info-txt.info-txt p {
    margin: 0;
}

.slide-info-txt.info-txt h4 {
    font-size: 1.2em;
    font-weight: 100;
    margin-bottom: 5px;
    font-weight: 600;
}

.slide-info-txt.info-txt p {
    font-size: 0.8em;
    font-weight: 400;
}

.slide-info-txt {
    padding-left: 15px;
    height: 100%;
    width: 100%;
    max-width: 70%;
    display: flex;
    align-items: center;
}

.slide-info-img {
    padding: 8px;
    max-width: 30%;
}

.slide-info img {
    border-radius: 50%;
    width: auto;
    max-width: 130px;
}

.slide-info span {
    margin-left: 15px;
    font-size: 24px;
}

.header-slides-item.new-updates {
    overflow: hidden;
}

.header-slides-item.new-updates p:before {

    background-size: auto;
    background-position: left;
    background-repeat: no-repeat;
    content: '';
    width: 32px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    background-image: url(../assets/images/ssbSelection/icone-new.gif);
}

.new-updates .header-slides-content p span {
    color: #007bff;
    font-style: italic;
}


/*========== Footer css============*/

footer {
    border-top: 5px solid #262626;
}

main.gafullwidth {
    float: none;
}

.footer-top {
    padding: 30px 0;
    position: relative;
    padding: 60px 0 40px;
    font-size: 14px;
}

.footer-bio-wrap p {
    position: relative;
    line-height: 2em;
}

.footer-top address p {
    line-height: 1.8em;
    margin-bottom: 6px;
}


.footer-top .cm-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.footer-top h3 {
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0px;
    background: none;
    line-height: 1.6em;
    position: relative;
    display: inline-block;
    padding-right: 50px;
    font-size: 15px;
    text-transform: capitalize;
    position: relative;
    margin-bottom: 30px;
}



.footer-top h3:after {
    background: #007bff;
    bottom: -10px;
    content: "";
    display: block;
    height: 2px;
    margin-top: 0;
    position: absolute;
    width: 40px;
    left: 0;
}

.footer-address-wrap {
    font-size: 14px;
}

.menu-footer-menu-container ul#menu-footer-menu {
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.menu-footer-menu-container ul#menu-footer-menu li {
    width: 50%;
    float: left;
    position: relative;
    margin-bottom: 1px;
    width: 100%;
    line-height: 2em;
}


.menu-footer-menu-container ul#menu-footer-menu li a {
    position: relative;
    font-size: 14px;
    color: #212529;
    padding-left: 16px;
    text-transform: capitalize;
    text-decoration: none;
}

.menu-footer-menu-container ul#menu-footer-menu li a:before {
    content: '\f105';
    position: absolute;
    left: 0px;
    top: 0px;
    line-height: 16px;
    font-size: 12px;
    color: #212529;
    font-family: 'FontAwesome';
}

.menu-footer-menu-container ul#menu-footer-menu li a:hover,
.menu-footer-menu-container ul#menu-footer-menu li a:hover:before {
    color: #007bff;
}


.copyright {
    position: relative;
    padding: 15px 0px;
    background-color: #262626;
    z-index: 6;
    color: #cccccc;
    text-align: left;
}

.copyright p {
    margin: 0;
}


.content {
    background-color: white;
    padding: 10px;
    border: 1px solid #eee;
    border-width: 0 0 2px 0;
}

.content img {
    margin-bottom: 15px;
}

.content h4 {
    font-size: 1.4rem;
}

.social-links a {
    line-height: 24px;
    font-size: 24px;
    color: #007bff;
    text-align: center;
    margin-right: 10px;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    text-decoration: none;
    display: table;
    margin-bottom: 5px;
}

.footer-social-links.social-links {
    display: flex;
    flex-wrap: wrap;
}

.social-links ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: block;
    clear: both;
    width: 100%;
}

.social-links ul>li {
    margin-bottom: 5px;
}

.social-links ul>li>a {
    display: flex;
    text-decoration: none;
}

.social-links ul>li>a>span {
    float: right;
    vertical-align: middle;
    color: #555;
    margin-top: 0;
    margin-left: 8px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
}

.social-links ul>li>a>i {
    vertical-align: middle;
}


.social-links a:hover {
    color: #212529;
}

.footer-top address p {
    position: relative;
    padding-left: 22px;
}

.footer-top address p:before {
    position: absolute;
    left: 0;
    top: 3px;
}

.footer-top address p:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p.emailIcon:before {
    content: "\f0e0";
}

p.telephoneIcon:before,
p.mobileIcon:before {
    content: "\f095";
}

.map {
    position: relative;
    width: 100%;
    height: 250px;
}

.map-2 {
    position: relative;
    width: 100%;
    height: 450px;
}

.map iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.ryt-float-btn img {
    width: 35px;
}

.ccw_plugin.chatbot {
    position: fixed;
    z-index: 900;
    margin-right: 57px;
}

/*============================*/

/*Responsive css*/


@media(max-width: 1200px) {
    .headbalPanel {
        display: none;
    }

    a.galogo img {
        max-width: 150px;
        height: auto;
    }

}

@media(max-width: 992px) {

    .footer-top .col-sm-5 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        margin-top: 50px;
    }

   
    .footer-top .col-sm-5 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .footer-top .col-sm-5:nth-child(1),
    .footer-top .col-sm-5:nth-child(2) {
        margin-top: 0;
    }


}


@media screen and (max-width: 767px) {

    .mobile_not,
    .headUserPanel,
    .ganavPanel,
    .ganav>li .fa-caret-right,
    .gasubnav::after {
        display: none;
    }

    .headpanelMob,
    .loguserMob,
    .contcatResplnk,
    .desktop_not {
        display: block;
    }

    .headpanelMobImg {
        width: 150px;
        height: auto;
    }

    .headprofile {
        top: 49px;
        width: 250px;
    }

    .gstlink {
        padding: 1px 7px;
    }

    .ganav li {
        width: 100%;
        border-top: solid 1px rgba(255, 255, 255, .15);
    }

    .ganav li.active a {
        border-radius: 0px;
        background: transparent;
    }

    .ganavPanel {
        color: #fff;
        background: #2567a1;
        position: absolute;
        top: 100%;
        z-index: 9999;
        width: 100%;
    }

    .ganav>li>a {
        color: #fff;
        font-size: 14px;
    }

    /*.ganav>li:hover .gasubnav { display: block; position: inherit; top: 0; width: 100%;float: left;background: #00477e;box-shadow: none; border:0px !important;}
.gasubnav>ul a,.ganav>ul>a{ color:#fff;  padding: 8px 10px;}*/
    .gasubnav,
    .gasubnav>ul,
    .gasubnav3>ul,
    .gasubnav2>ul {
        width: 100%;
    }

    .ganav>li .fa-plus,
    .ganav>li .fa-minus {
        background: #165392;
        padding: 3px;
        font-size: 10px;
        width: 15px;
        text-align: center;
        line-height: 9px;
        height: 15px;
        display: inline-block;
    }

    .ganav>li:hover>a,
    .ganav>li.active>a {
        background: #2567a1;
    }

    .gasubnav>ul {
        padding: 0px;
    }

    .newblink {
        right: inherit;
    }

    .subnavheading {
        display: none;
    }

    .headCntPanel {
        position: fixed;
        left: 0px;
        top: 50px;
        margin: 0 auto;
        right: 0;
    }

    /*======== 767 ============*/
    .headpanelMob img.headpanelMobImg {
        margin-left: 13px;
    }

    .headpanelMob {
        margin-bottom: -3px;
    }


    /* .footer-top .footer-address-wrap,
    .footer-top .footer-social-link-wrap,
    .footer-top .footer-menu-wrap {
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 50px;
    } */

}

@media(max-width:640px) {
    .footer-top .col-sm-5 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .footer-top .col-sm-5:not(:first-child),
    .footer-top .col-sm-5:nth-child(2) {
        margin-top: 30px;
    }
}

@media(max-width:479px) {
    .menu-footer-menu-container ul#menu-footer-menu li {
        WIDTH: 100%;
    }


}