@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
body{font-family: 'Open Sans', sans-serif;margin: 0px;  padding: 0px; font-size:13px; color:#000000;font-weight: 400;}
ul, ol, li, div, span, input, tt, dl, dt, kbd, dfn, code, label, em, select {font-family: 'Open Sans', sans-serif; font-style: normal;}
*, *:after, *:before{ box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box;}
/*header & footer css */ 
.fadebg{z-index: 100; position: fixed; height: 100%; width: 100%; text-align: center; left: 0%; top: 0%; background:rgba(0,0,0,.5); display:none;}
.mobile_not{display:block;}
.desktop_not{display:none;}
.gaheader{ float:left; width:100%;}
.gafooter{ float:left; width:100%; margin:10px 0 0; padding:0px;}
.copyright{background: #E4E8F3; color: #555;padding: 8px;  text-align: center; font-size: 12px; float:left; width:100%; margin:0px;}
.ga_top_header{background: #e5e8f7;background: linear-gradient(#e0e3f4, #f0f0fa); float: left; width: 100%;border-top:3px solid #004684;}
.galogo img{ max-width:100%;}
.headbalPanel{ float:right;background: #004684; position:relative; border-radius: 0px 0px 0px 15px;border-bottom:3px solid #f7a408;}
.headUserPanel{ float:right; list-style-type:none; margin:0px; padding:0px; }
.headUserPanel li{ float:right; list-style-type:none; margin:0px; float:left;color:#fff; padding:0px 8px 5px; position:relative; font-size:12px; font-weight:400;}
.headUserPanel li::after{content:"|";font-size: 12px;width:14px;float: left;font-weight: 700;}
.headUserPanel li:first-child::after{display:none;}
.headUserPanel span{ cursor:pointer;}
.headUserPanel a{color:#fff;}
.headUserPanel a:hover{ text-decoration:none;}
.headUserPanel b{color: #fce18d;}
.headCntPanel{ left: 0;top:22px;z-index:105; position: absolute;border:4px solid #eee;line-height:20px;width:375px;background:#fff; display:none;}
.headCntPanel h2,.headCntPanel h3{font-size: 13px;width: 100%;font-weight: bold;float: left;padding: 5px;color: #0A3260;background: #F8CB75;margin: 0;}
.headCntPanel h2{border-bottom: 1px dotted #ffffff;text-align:center;}
.headCntPanel p{width: 100%;float: left;padding: 10px;margin: 0px;font-size: 13px;}
.headprofile{ border:5px solid #2567a1; margin:0px; padding:0px; position:absolute; top:22px; right:0px; width:180px; list-style-type:none; background:#fff; display:none; z-index:9;}
.headprofile::after {border-color: transparent transparent #f0f0f0; border-style: solid; border-width: 7px; content: "";  position: absolute; top: -13px;  right: 19px;}
.headprofile li{border-bottom:1px solid #2567a1; padding:8px; font-weight:bold; color: #2567a1;}
.headprofile li a{ color: #2567a1;}
.headprofile li a:hover{ text-decoration:none;}
.headprofile li i{ margin-right:5px;}
.ganavPanel{float:left; width:100%; margin:0px; background:#d7dff4;}
.ganav{list-style-type: none; margin: 0; padding: 0; float: left; width:100%;}
.ganav>li{float:left; position:relative;}
.ganav li a{ text-decoration:none;}
.ganav>li>a{ padding:8px 14px; display:block; color:#000; font-size:13px;}
.ganav>li:hover>a,.ganav>li.active>a{ background:#004684; color:#fff;}
.ganav>li.active>a{ border-radius:5px 5px 0 0;}
.ganav>li .fa-caret-right{background: #fff;color: #004684;margin-left:5px;display: inline-block;width:9px;height: 9px;border: 0px;font-size: 9px;line-height: 9px;text-align: center;}
.ganav>li:hover .fa-caret-right{transform: rotate(90deg);}
.gasubnav{background: #f0f0f0;border-bottom: #d1aa54 solid 4px!important;  box-shadow: 0px 0px 5px 0 #888;position: absolute; border: 2px solid #eee; padding:0px;
           display: none;top:34px; left: 0; z-index: 700; width:180px;}
.gasubnav::after {border-color: transparent transparent #f0f0f0; border-style: solid; border-width: 7px; content: ""; position: absolute; top: -14px; left: 20px;}
.ganav>li:hover .gasubnav{display:block;}
.gasubnav>ul{ list-style-type:none; float:left; width:100%; margin:0px; padding:2px;}
.gasubnav>ul li{float:left; width:100%;}
.gasubnav>ul a{padding:3px 7px; display:block; color:#000; font-size: 13px;}
.gasubnav>ul li:hover a{ background:#004684; color:#fff;}
.gasubnav>ul li strong{background: #d1aa54; padding:2px; float:left; width:100%; font-size:13px; font-weight:700;}
.gasubnav2{ width:360px;}
.gasubnav2>ul{ width:50%;}
.gasubnav3{ width:540px;}
.gasubnav3>ul{ width:33.33%;}
.newblink{ position:absolute; right: 12px; top:0px;}
.headbtmPanel{ float:right; padding:5px;}
.headbtmPanel a{display:inline-block; margin-right:8px; text-decoration:none;}
.gstlink{background: #eab133; padding: 5px 8px;  border-radius: 3px;  margin: 2px 8px;color: #2567a1; font-weight:bold;}
.lnkFeedback{color:#606060; font-weight:700;}
.lnkFeedback:hover{color:#2567a1;}
.gstlink:hover{background:#2567a1; color:#fff;}
.headpanelMob{display:none;background: #2567a1; border-bottom: 3px solid #f7a408; float:left; width:100%; padding:5px;}
.profile_mob {background: url(../images/profile.png) no-repeat top left;float: right; width: 42px; height: 36px; cursor: pointer; padding-right: 10px;cursor:pointer;}
.menuBar{float: left;  width: 40px; margin: 0px; padding: 2px 5px 0; color: #fff; font-size: 26px; cursor:pointer;}
.loguserMob,.contcatResplnk{display:none;}
.cashbalMob{color:#004684; margin-top:10px;}
.ganav>li .fa-plus,.ganav>li .fa-minus{display:none;}
.close{position: absolute; right: -22px; width: 22px; height: 22px; top: -22px; background:url(../images/close.png) no-repeat;}








/*Responsive css*/
@media screen and (max-width:767px){
.mobile_not,.headUserPanel,.ganavPanel,.ganav>li .fa-caret-right,.gasubnav::after{display:none;}
.headpanelMob,.loguserMob,.contcatResplnk,.desktop_not{display:block;}
.headpanelMobImg{width: 80px;height: 80px;}
.headprofile{top:49px; width: 250px;}
.gstlink{ padding: 1px 7px;}
.ganav li{ width:100%;  border-top:solid 1px rgba(255,255,255,.15);}
.ganav li.active a{ border-radius:0px; background:transparent;}
.ganavPanel{ color: #fff; background: #2567a1;position: absolute;  top: 52px; z-index: 9999;width: 75%;}
.ganav>li>a{color:#fff;font-size:14px;}
.ganav>li:hover .gasubnav { display: block; position: inherit; top: 0; width: 100%;float: left;background: #00477e;box-shadow: none; border:0px !important;}
.gasubnav>ul a,.ganav>ul>a{ color:#fff;  padding: 8px 10px;}
.gasubnav,.gasubnav>ul,.gasubnav3>ul,.gasubnav2>ul{ width:100%;}
.ganav>li .fa-plus,.ganav>li .fa-minus{background: #165392;padding: 3px;font-size: 10px;width: 15px;text-align: center;line-height: 9px;height: 15px; display:inline-block;}
.ganav>li:hover>a, .ganav>li.active>a{background: #2567a1;}
.gasubnav>ul{padding:0px;}
.newblink{right: inherit;}
.subnavheading{display:none;}
.headCntPanel{position: fixed;  left: 0px; top: 50px; margin: 0 auto; right: 0;}
}
