<!--#region Chat Bot -->
<!--(Refer  : https://www.doonida.com/ )-->
<div class="ccw_plugin chatbot" style="bottom:10px; right:10px;">
    <!-- style 9  logo -->
    <div class="ccw_style9 animated no-animation ccw-no-hover-an">
        <a href="https://web.whatsapp.com/send?phone=+91 7065502763&amp;text=Hello, I want to join Course in Georgians Academy"
            target="_blank" class="img-icon-a nofocus">
            <img class="img-icon ccw-analytics" id="style-9" data-ccw="style-9" style="height: 48px;"
                src="https://www.doonida.com/wp-content/plugins/click-to-chat-for-whatsapp/./assets/img/whatsapp-icon-square.svg"
                alt="WhatsApp chat">
        </a>
    </div>
</div>
<!--#endregion-->