<!--#region Selected Candidates-->
<div id="toTop" class="ryt-float-btn" style="display: block;">
    <a href="" target="_blank">
        <img src="Assets/Icons/selectedcandidates.png">
    </a>
</div>
<!--#endregion-->