<!--#region social  icons -->
<div id="icon_wrapper">
    <a target="_blank" class="fuse_social_icons_links"
        href="https://www.facebook.com/gapsdwarka/?ref=aymt_homepage_panel">
        <i class="fa fa-facebook fb-awesome-social awesome-social"></i>
    </a>
    <br>
    <a target="_blank" class="fuse_social_icons_links" href="https://twitter.com/georgiansacadmy">
        <i class="fa fa-twitter tw-awesome-social awesome-social"></i>
    </a>
    <br>
    <a target="_blank" class="fuse_social_icons_links" href="https://www.instagram.com/georgiansacademy/?hl=en">
        <i class="fa fa-instagram instagram-awesome-social awesome-social"></i>
    </a>
    <br>
    <a target="_blank" class="fuse_social_icons_links" href="https://www.linkedin.com/in/kunwar-pratap-277b6b8/">
        <i class="fa fa-linkedin linkedin-awesome-social awesome-social"></i>
    </a>
    <br>
    <a target="_blank" class="fuse_social_icons_links"
        href="https://web.whatsapp.com/send?phone=+91 7065502763&amp;text=Hello, I want to join Course in Georgians Academy">
        <i class="fa fa-whatsapp whatsapp-awesome-social awesome-social"></i>
    </a>
    <br>
    <a target="_blank" class="fuse_social_icons_links" href="https://www.youtube.com/channel/UCsIoZ-LTg75a3gmSa8q3v3Q">
        <i class="fa fa-youtube youtube-awesome-social awesome-social"></i>
    </a>
</div>
<!--#endregion-->