<div class="blog-content">
    <p>Hey everyone, we are going to Share the experience of one of our Candidates who was able to clear the first two
        SSB of his life. His experience is a must read for all the defence Aspirants<br />
        Hey everybody. I am Yogesh Yadav. I have done my schooling from RMS Dholpur. I could not clear my written exam
        for NDA in first attempt. I was very disappointed but after analysing my mistakes, I focussed on CBSE board
        exams. After the Exams I put my all efforts in revising my NDA syllabus. After Giving my NDA I (2018) I was
        confident to clear it. So I started preparing for my SSB. After the NDA Written result was out I had Two SSB,
        NDA 141 entry and Army TES I Joined Georgians Academy for Professional studies based at Dwarka as the mentors
        happen to be my school seniors. There I worked with my mentors and was able to decode the process of SSB. My
        timely preparation I was able to clear the first 2 SSB interviews of my life and by god’s grace was selected for
        both. The first one was for NDA from Vishakhapatnam and the 2nd was at SSB Kapurthala for TES 10+2 entry in
        which I also got AIR 6. So basically I am here writing this to help those aspiring candidates who want to clear
        their SSB Interview. Now, I am not going to get deep into details and what happens in each day and all. If you
        are interested in that, you may read 5 days SSB interview procedure. I am only going to share what you might
        actually find helpful and I have divided that into Screening, Interview, GTO, Psychology, and Conference.<br />
        Screening<br />
        1. The dictation of your story is most important here. It’s your first impression. Leave a mark there
        itself.<br />
        2. If your group makes it a fish market, you have 2 options:<br />
        • The first and more manly move (my personal favourite) is to shout. Yes, you read it right, shout. Shout and
        tell everybody to behave or maintain decorum. You may have seen this in you normal day to day life like in a
        class. If the class is making noise and one comes and shouts rest all suddenly stop talking and listen to him.
        But remember you have to be careful.<br />
        If you are too loud, it might seem you are frustrated, if you are not loud enough, they won’t listen to you,
        both ways it’s not good for you. The best is to be a bit louder than them all. It’s tough but effective and
        impressive!<br />
        • The other easier but equally effective option is to tell them to keep the decorum politely once or twice and
        hope that they become quiet (Not more than twice, because if even then they didn’t behave, it will show your
        inability to control the group;) if they don’t then just be quiet and wait for them to finish and then speak
        your point without missing that *golden moment.<br />
        (*Golden moment: After that fish market, a moment comes when everybody who has been speaking till then finishes
        their point at the same time. This is around one second of complete silence this is what your golden opportunity
        to speak is.)<br />
        • Don’t listen to those who say its luck. Well, I can’t deny that completely, but luck doesn’t have that much of
        significance in screening so as to make it an excuse!<br />
        Personal Interview:<br />
        1. Maintain a smile on your face. This is what ppl mean when they say act confident. (Remember, they are doing a
        very boring job, so a smile is all they want).<br />
        2. Get to know yourself, like whether you are shaking your legs , waving hands, fingers, etc i.e your basic
        behaviour when you are saying the TRUTH. Then when you are lying about anything like girlfriend, passion,
        achievements, etc make sure there’s no change in you, i.e. you are doing everything like shaking legs, hand
        movement just like before. ( My interviewer was looking at my legs and fingers in the beginning when asking
        simple questions and then when i asked something personal, LUCKILY I sensed this and continued lifting my
        fingers like before).<br />
        3. Make a list of all the incidents of your life that shows some quality in you that you wrote in your self
        description. Remember and keep them like a PULLED BOW and RELEASE it whenever you get opportunity (which you
        definitely will at some point of time). I had two such planned, i spoke them and in fact regretted why I hadn’t
        thought of few more before coming here as i had ample opportunities.<br />
        4. Do not lie too much.(Don’t be a Raja Harishchandra though)<br />
        5. Try to make the interview more interesting rather than giving standard answers others (Not everyone is going
        to get recommended you see; Since i was an undisciplined boy i used to be often caught and i had to convince
        teachers. So you see i am good at it, and this proved beneficial from me in interview).<br />
        6. If you have participated in anything then surely you must have had some challenges to face, so keep them
        remembered well in advance for whatever activities you have written in your PIQ form.<br />
        7. If you are a funny guy, do not try to hide that Have the guts to show what you are.<br />
        GTO:<br />
        Note: One needs literally no knowledge to speak in Group Discussion Even if you have never heard of the topic,
        don’t panic and just modify and speak other’s (esp. somebody who said something but others could not hear)
        point.<br />
        1. In GD try to keep the decorum in group. If somebody is taking too much time, point at him and tell him to
        stop and let chest no. X speak. I had said somebody “chest no. 17, i think you have spoken enough now let chest
        no. 19 speak.” then as he got silent and chest no. 19 finished, i spoke my point. All I am trying to say is,
        DON’T HESITATE to speak up against anybody.<br />
        2. But keep in mind, DON’T GET INTO ONE TO ONE CONVERSATION. Like, you see, I let another person speak after
        silencing him and then spoke myself ; if i had spoken myself after silencing him and if that idiot had spoken
        again then that looks like one to one which is a negative point 4 us both.<br />
        3. In GD (esp. group planning exercise) try to take the group FORWARD don’t fight over priorities and dividing
        and all.my group was again and again fighting over which is the top most priority.so I said in a angry tone
        “Gentlemen, now that we have divided the group and doing all the tasks simultaneously, there is no point of
        priority. So, DO NOT BRING THIS TOPIC AGAIN “. But you need not copy. Its purely situation based! And try to
        raise voice when necessary WITHOUT getting angry. Remember, one doesn’t have to be angry to be assertive.<br />
        4. In PGT don’t rush to pick up any material like balli, plank, etc and let others act like servants. Simply
        move forward and ask for material LIKE A BOSS whenever required. Nobody ever denies to give, they just can’t. If
        you are at back, DON’T JUST STAND THERE, give your ideas from back, or point out some mistake that those at
        front are doing, But for your own sake INVOLVE YOURSELF into it!<br />
        5. Let me WARN you that the GTO is way too FRIENDLY DON’T FALL FOR IT, it’s a trap! Don’t speak much, I had
        revealed a bit much about myself, but somehow managed the situation! Speak only what’s necessary to him!<br />
        6. For Individual Obstacles, plan you order of obstacles before starting based both upon the points and their
        location for ease of doing them in order without wasting much time going from one obstacle to other.<br />
        7. Also plan which obstacles you will be repeating if you finished all well before starting (at least upto
        14-15). This was a mistake I did and I had plenty of time left. I finished my obstacles and also repeated 2-3
        and still time was left (even i wonder how! ) but then I was blank about which one to do next because I hadn’t
        planned (thinking I will not reach till here). So basically never underestimate yourself.<br />
        8. Don’t practice for lecturette in front of mirror, but audience. And have a LITTLE DETAILS about everything in
        the world from terrorism to oil, from Rohingya to Congo crisis, from business to south china sea rather than any
        in-depth knowledge as you have limited time for ssb preparation.<br />
        9. ( Btw, trust me with time you will realize that all this is related and how greedy the world is! – not for
        ssb, but i suggest everyone to learn about all these happenings, your perception of the world will
        change.)<br />
        10. All the freshers, you are supposed to keep your hands at back and limit your hand movements during
        lecturette.<br />
        PSYCHOLOGIST:<br />
        1. Practice Time management is somewhat difficult in psychology tests.<br />
        2. The whole TAT is basically your you life experiences but Exaggerated.<br />
        3. Do all the Situation Reaction Test consecutively and avoid skipping any . Go for quality not quantity.
        Anywhere above 30-33 is safe. I did only 33-35 SRTs in both SSB and yet got AIR 6. They just want to find their
        14 Officer Like Qualities in you. Now it’s up to you whether you show them in 30 or 60.<br />
        4. In the SRTs which you find difficult or confusing, avoid giving many details. You will only make blunder if
        you force yourself to give much detail in such questions. Only give a gist in such questions.<br />
        5. In WAT, there’s no need to write the word in the sentence In Fact I suggest you to avoid writing the word in
        you sentence as it will consume time and here time is as valuable as money! For example, if the word is Alarm
        then just write “the society about.” Instead of starting with the word ‘alarm’.<br />
        6. In your self-description, make sure that there is some inter-connection between what different people feel
        about you. You can show same quality under more than one person’s feeling about you. Also put one or two
        weakness of yours in there. These things will make it appear more real.</p>
    <p>Conference:<br />
        Well there’s nothing much you can do now unless you are a doubt case in which case you still have a great
        chance. Trust me conference can be a real Game-changer. Now i don’t really have much suggestion for this but be
        or at least look confident. Don’t hesitate to give any suggestion/feedback if it’s not silly.<br />
        Now if you wonder what is silly, let me give you examples of silly: bit more salt in food is definitely silly.
        Any change in SSB process is also silly as it’s a well devised and tested process.<br />
        Note for freshers (repeaters probably know this already): No matter what the group has planned before going for
        GD, NEVER BELIEVE THEM. They are going to be the first to cheat u! Though you may give them an opportunity to do
        what was planned. But once you see it not going the planned way, don’t waste another second and do whatever you
        wish.<br />
        Note for AIR FORCE candidates:<br />
        Once you are recommended, DON’T spend your night celebrating victory, instead go and have a nice sleep for the
        CPSS / PABT test the next day.<br />
        A good night sleep is very necessary to clear the CPSS test and no mobile games can be much helpful for this.
        And RELAXX<br />
        PS: You yourself are responsible for the consequences of adhering to these tips; do what I said above only if
        you could relate it to your own personality and of course not to mention, at your OWN RISK!<br />
        At last I would like to Thank my Mentors Mr Deepak Prasad and Mr K P Singh who have been tirelessly shaping the
        dreams of youngsters lie me.<br />
        JAI HIND</p>
</div>