<div class="blog-content">
    <p>Hello everyone,<br />
        I&#8217;m cdt. Nishant Pandey of rashtriya military school, Dholpur. This is my story of clearing my ssb in
        first attempt. My father was in army and I have seen army life since my childhood and wanted to be one of them
        so I joined RMS Dholpur. There I learnt many games and participated in many CCA activities. I was good in
        academic and due to my preparation for my written I was sure of clearing my written exam so, I start preparing
        for my ssb. As the result was out I went to Georgians academy as suggested by my seniors. There under the
        guidance of K P sir and Deepak sir I come to know about my strong and weak part. I prepare for my psychology and
        lecturette. I analyse my performance daily and work upon it and gain a lot of confidence. My ssb was in 1 AFSB
        Dehradun from 14 Jan to 19 Jan 2019. I was in touch with Deepak sir during my ssb and he guided me. My
        confidence and hard work helped me in clearing my ssb in first attempt. I believe that support of my parents,
        friends, Georgians, K P sir and Deepak sir helped me in achieving my dream. At last do whatever you want with
        your full dedication and determination and you will achieve your goal.</p>
    <p>jai Hind</p>

</div>