<div class="blog-content">
    <p>What is NRC?<br />
        NRC has its roots in the 1979-85 Assam agitation against foreigners marked by violent classes. Strikes and
        protests across the north eastern states. It was sparked by concerns that indigenous people of Assam were at
        risk of being outnumbered by outsiders reducing the opportunities for the economic advancement of the
        locals.<br />
        The agitation ended with the Assam accord that set March 25 1971 as the cut-off date to determine citizenship-
        the day liberation war in neighbouring Bangladesh (the then east Pakistan) to make it to NRC. One had to prove
        that they or their ancestors were in Assam before the cut off date. There has never been formal estimate of
        number of people who entered Assam illegally , but activists and students organisation have given figure
        northward of four million.<br />
        In 2009 activist Abhijit sarma petitioned the Supreme Court to update the voter list so that 4.1 million
        undocumented people could be deleted. It was on the basis of this petition that Apex court ordered the NRC
        update in 2013.<br />
        The supreme court monitored process of NRC of Assam , which was last compiled 68 years ago, took 4 years and
        55000 officials covering over 66-4 million documents. Provisional draft of NRC was published in july 2018 and
        had excluded 4.1 million people. Final list has 19,06,657 people being left including those did not submit
        claims.<br />
        What happens to those who are left?<br />
        1) Those excluded will get 120 days to appeal against the exclusion at foreigner’s tribunals,<br />
        quasi-judicial bodies to adjudicate whether someone is an illegal migrant.<br />
        2) They have to provide documentary evidence to show that they meet citizenship<br />
        Requirement of the NRC.<br />
        3) If that appeal gets rejected they can approach the higher courts.<br />
        Challenges with the Government</p>
    <p> a) Government need to provide financial and legal assistance to the poor people who do not<br />
        have resources to go to court.<br />
        b) Not all 19 lakh people are outsiders. Assam is badly affected by flood every year and a<br />
        Large number of populations loses its house and property due to these floods. They may<br />
        not Have documents to prove their linage before 1971.<br />
        c) There are cases where some family members have their names in NRC whereas others<br />
        Don’t have. These cases should be scrutinised properly<br />
        d) There are cases of ex-army and air force personals names missing from NRC list.<br />
        Government should look into these cases.</p>
</div>