<div class="blog-content">
    <p>Hello everyone!!!<br />
        Myself Cdt. 3098 Sparsh Kankane, School Captain, RMS Dholpur (2018-19)<br />
        This blog is the story of my life till now, the journey from Orai-my hometown to Dholpur and then to 2 AFSB,
        Mysore&#8230;<br />
        Let me tell you, I belong to a very humble family and one in which nobody has ever served in the defence
        forces!!! So my choice of Armed forces as a profession was quiet unconventional<br />
        I always aspired to become a pilot fortunately I got the path to my destination at a very tender age of 11 by
        joining Rashtriya Military School, Dholpur in 2012&#8230;<br />
        In the 7 yrs that I am about to complete as a member this amazing Family called GEORGIAN, I have put in the best
        of my efforts to mould my personality to suit the requirements of the Forces&#8230; I did everything in school
        &#8211; Starting from Academics, Sports, Co-curricular activities to taking the responsibilities and developing
        camaraderie with the friends, doing all sorts of mischiefs and living every moment to the brim!!! Finally the
        day I entered the Class-12, the objective was very clear &#8212; NDA&#8230; So I gave all I had in me to achieve
        this goal&#8230; Toiled hard for the written exam and the hard work brought its rewards &#8211; I cleared the
        written exam in my maiden attempt. Now the next aim was to clear SSB as well and fulfill the dream I cherished
        since childhood&#8230;<br />
        It is said that to shoot the ball into the basket you need two things- correct momentum and the right
        direction.<br />
        The first one I had achieved in my school&#8230; Now the need was of The Right Direction and the correct
        guidance to convert it into success&#8230;<br />
        Without any second thought, I give the credit for this to GEORGIAN ACADEMY FOR PROFESSIONAL STUDIES&#8230;. The
        lessons I learnt from Kunwar Pratap Sir and Deepak Sir in such a short span of time that I could spend with them
        proved to be the masterstroke not only in SSB but will also prove to be handy where ever I go in my life.<br />
        When I went for SSB I went with the mind-set that I’m already recommended&#8230; These 5 days are just a
        procedure!!!<br />
        And as Deepak Sir always advices- I truly enjoyed the 5 days I spent there without any worries about the
        result&#8230; I gave my best in all the tasks and had faith on my efforts, my God and my
        capabilities&#8230;<br />
        Finally on the day of conference, when the officer announced- Chest no. 28 &#8216;Recommended&#8217; I have no
        words to describe the surge of emotions I had at that life changing moment&#8230; </p>
    <p>I got recommended from 2 AFSB, MYSORE in my maiden attempt&#8230; I cleared CPSS too&#8230; Was declared
        medically fit for Air force and now I am eagerly waiting for my joining date.<br />
        Finally, I believe that I could get this feat just due to the support of The GEORGIAN family, the nurturing of
        RMS Dholpur, and the guidance of Kunwar Pratap Sir and Deepak Sir at The Georgian&#8217;s Academy&#8230;<br />
        So my advice to every defence aspirant is that plz visit the Academy once&#8230; And I m more than sure that u
        won&#8217;t ever regret having made this choice<br />
        With lots of good wishes&#8230;</p>
    <p>Cdt. Sparsh Kankane<br />
        3098/UDAIBHAN HOUSE<br />
        RMS, Dholpur</p>
</div>