<div class="blog-content">
    <div>
        <h3 class="para-head">STORY OF A YOUNGSTER MAKING HIS DESTINY</h3>
        <p>No Obstacle is hard enough if one decides to chase his dreams. There has been end number of stories so prove
            that if one has a will, there is a way for him.</p>
        <p>This is the Story of a young boy who has become a role model for many young armed forces aspirants. He worked
            as an Ola cab driver to make his ends meet but today he is an officer who has passed out from Officers
            Training Academy in Chennai on March 10, and this has made his family really proud.</p>
        <p>He is <b>Lt. Om Paithane</b>. Om was inspired by a passenger, Colonel Bakshi(Retired), whose first name he
            does not remember. “It is Col. Bakshi Sir who changed my life. Talking to me, he suggested about the
            opportunities in the armed forces and the Combined Defence Service (CDS) exams and even referred me to Lt.
            Col. Ganesh Babu, the then Director, Armed Forces Officers Selection Orientation Programme,” Om said.<br />
            After this, Om decided to appear for the CDS exams in 2016 and cleared it in his first attempt. He then
            cleared the Service Selection Board (SSB) exam in Bhopal to join the OTA for his training.<br />
            The Paithane family hails from Tondal village near Pune in Maharashtra. Speaking to IANS on his achievement,
            Om had said, “I am extremely happy and overwhelmed&#8230; It&#8217;s like a dream come true.”Our family
            needed financial assistance. He used to manage both studies and driving. My father was a driver for almost
            25 yrs and did not want us to get into that profession and wanted us to get more educated. Om used to hide
            from him that he is driving,” said Om’s brother Adinath.&#8221;For an humble family like ours with limited
            resources or influence at their command, this is a huge achievement and an inspiration for many others
            struggling to improve their lives,&#8221; said his brother Adinath.</p>
        <p>Incidentally, Om`s father UttamPaithane worked as a driver for nearly three decades and faced major problems
            with his knees, both of which were required to be replaced a few years ago.<br />
            Unfortunately, while one knee operation was successful, the other failed, making him practically immobile
            and compelled him to take up a job as security guard in Pune, said Adinath, who now works with the HR
            Department in TCS, Pune.<br />
            However, life has suddenly changed for the entire family, including his home-maker mother Sushila and their
            married sister Monika, as news of Om`s achievement started trickling out in the local media since Monday
            morning.</p>
        <p>This has resulted in a total transformation in Om`s life and personality&#8230; The way people look at him
            and his uniform with respect&#8230; He feels proud donning the uniform, but is still humble and eternally
            grateful to all the people including Col. Bakshi Sir, who guided him at all steps,&#8221; Adinath said.</p>
    </div>