<div class="blog-content">
    <p>Hello friends my name is Trilok Singh. I am from Jodhpur, Rajasthan. I completed my education from Army Public
        School Jodhpur. I was always keen to join armed forces as an officer, my father being the biggest motivation. So
        during my class 12th I started preparing for NDA written but couldn’t clear it in first attempt. I cleared the
        next exam and one of my friends suggested me to go to Georgians Academy in Delhi for SSB preparation. I went
        there and got enrolled. The atmosphere was great. All aspirants were really helpful. Deepak sir and KP sir
        helped me to know myself better. They gave a very good idea of the SSB process. Individual attention was the
        best thing. Instead of forcing ideas they wanted to know my response first and I loved that. I couldn’t clear my
        first SSB. But I didn’t get disappointed. I Kept working and remained in contact with my Mentors. I kept
        improving on various aspects and as they say hardwork pays off. I got recommended from 2 AFSB Mysuru in my 5th
        attempt. I am very happy and thankful to my mentors for guiding me and supporting me through tough times. My
        parents are also really proud of me. At last, I just want to say one thing never give up, keep improving and
        working hard and seek the right guidance.<br />
        Thank you<br />
        Jai Hind</p>
</div>