<div class="blog-content">
    <p>Hello everyone!!<br />
        I&#8217;m Cdt PANKAJ BHADOURIYA<br />
        RMS Dholpur (2011-2018)<br />
        This is the story of my life starting from my hometown Bhind till 11 SSB Allahabad.<br />
        I&#8217;m a son of an Army Man so my tilt towards defence forces was nothing new or unique.<br />
        I always wanted to be an Army officer and for that I&#8217;ve got a brilliant platform at the age of 11 only
        when I joined RMS Dholpur in 2011.<br />
        7 years I spent in school taught me everything from sports, academics, CCA and made me a self-dependent boy and
        a complete all-rounder.<br />
        I&#8217;m an average student in my academics, only 62.2% in class 12 and was not able to clear my NDA written
        exam in first two attempts.<br />
        When I came out of school I was very determined to join NDA that I worked hard and cleared it in the 3rd
        attempt.<br />
        As result was out I went to Georgians academy for professional studies to prepare for my SSB.<br />
        There I spent 45 days and under the guidance of Deepak Sir and KP sir I prepared well by practicing lecturette,
        interview, and psychology.<br />
        My SSB was from 11th to 15th Feb. In 5 days of my stay at SSB Centre my performance was very clean. My hard work
        and confidence helped me in clearing my SSB in 1st attempt.<br />
        I believe that the support of my parents, school, Georgian fraternity, KP sir and Deepak sir helped me in
        achieving my dream.<br />
        Finally, I&#8217;ll just say that believe in yourself, put in all your efforts and have trust in Almighty.<br />
        You&#8217;ll achieve it if not today than tomorrow..<br />
        With lots of good wishes……..</p>
    <p>Cdt. PANKAJ SINGH BHADOURIYA<br />
        3031, Chittor<br />
        RMS DHOLPUR</p>
</div>