<div class="blog-content">
    <p>Hello everyone! </p>
    <p>I am cadet Cadet Sahil Kumar of Rashtriya Military School Bangalore . I belong to Kurukshetra in Haryana and have
        a defence background .The desire and Zeal of joining the forces have been there since the childhood but the
        flames were fanned after i joined RMS Bangalore .Having a potential in academics i was quite confident of
        clearing my NDA written examination that was the reason that even before the NDA written results were declared,
        I landed in Georgian&#8217;s Academy as advised by my seniors for much needed guidance for my SSB. Here I got to
        know where I stand. The constant guidance and support from DEEPAK SIR and KP SIR, helped me work upon my grey
        areas, and bring out my inner self. The informal and unconventional approach of Georgian&#8217;s academy helps
        one to bring out their best and be the best. Everyone finds it a personal interaction rather than a class as
        full attention is paid to each and every aspirant. Whatever I learnt here in those 15 days, I followed it and
        practised it in my school. Even during my SSB I got guidance and motivation by my mentors at GAPS.I did my best,
        keeping my hopes high. Finally the hard work paid and I got recommended from 2 AFSB MYSORE. This would have been
        impossible without the support of my parents, teachers, friends, Deepak Sir and Kunwar Pratap Sir.<br />
        At last, there is always a quotient of uncertainty and doubts. But, when you perform there should be no
        &#8216;ifs&#8217; and &#8216;buts&#8217;.<br />
        When you go there do so with an attitude of clearing it.<br />
        BE POSITIVE<br />
        BE CONFIDENT</p>
    <p>THANK YOU<br />
        Jai Hind</p>
    <p>Sahil Kumar</p>
</div>