<div class="blog-content">
    <p class="heading"><strong>How to clear screening in SSB?</strong></p>
    <ul>
        <li>Screening comprises ofIntelligent Test (O.I.R) and Picture Perception &amp; Discussion Test (P.P.D.T.).</li>
        <li>The tests are conducted with an objective to find out the analysing ability of the candidate and his
            potential to be a prospective officer.</li>
        <li>This test helps the board members to filter the candidates and focus on the selected lot for the next 4
            days. Therefore it becomes important for the candidates to be on the toes, rest you are screened out.</li>
    </ul>
    <p class="heading"><strong>Importance of O.I.R. (Officers Intelligence Rating Test)</strong></p>
    <p>Verbal and Non-Verbal: Scoring well in verbal and non-verbal is important. These tests are very easy and mostly
        you may find the same set of questions in different boards, but it is important to practice and prepare well for
        all the tests. Many candidates thin that OIR has no correlation with the screening process but in case of
        entries like NCC, TECHNICAL where the number of candidates called is as high as 400+ every test becomes
        important. The Assessors will look for every reason to filter the crowd. So do well in OIR.</p>
    <p class="heading"><strong>PPDT (Picture Perception &amp; Discussion Test)</strong></p>
    <p>In PPDT a candidate is shown a picture which may be blur or clear. Candidates have to identify the number of
        characters, their age, sex and mood and write the theme of the story. A candidate gets 30 seconds to see the
        picture and 1 minute to write all these details. Than she/he gets 4 minutes to write the story. After the story
        is written the candidates are divided in small groups of 15-18 candidates. The group is told to firstly narrate
        their story to all the group members in a chronological order and then discuss among themselves to come out with
        a group story. The candidates are selected on the basis of the performance in OIR and PPDT for the next stage.
    </p>
    <p class="heading"><strong>IMPORTANT POINTS TO KEEP IN MIND</strong></p>
    <ol>
        <li>Score well in OIR. People say OIR score has nothing to do with screening but actually it is very important.
            If is not important than why is conducted for all the candidates, why not only on the candidates who gets
            screen in.</li>
        <li>Write a good realistic story which should connect to your experience in life. See the picture carefully and
            connect it with some of the events of your life. Than make a story which should have a background, body and
            conclusion.</li>
        <li>Narration of the story is very important. Even if you have not been able to complete the story, complete it
            in narration. Your narration should be confident and flawless. This is the time assessors look at you for
            the first time. So be confident, look into the eyes of all the candidates and speak loudly so that you are
            audible.</li>
        <li>In group discussion be participative but listen to others also. Try to bring consensus on theme. Don’t be a
            part of fish market. Candidates are misguided that they have to speak more in order to get screened in.</li>
        <li>Don’t think about the result while the process is going on. Be a gentleman.</li>
        <li>Last and most important &#8211; <strong>SSB is a Movie, Screening is a trailer. Make a good Movie, Trailer
                will be good automatically.</strong> So prepare well for the SSB and you will clear the screening
            automatically.</li>
    </ol>
</div>