<div class="blog-content">
    <p>Hello friends, I am AbhishekMani tripathi. I Completed my XII from Rashtriya Military school Bangalore in March
        2018. In the School I was good in academics and average in sports. Initially when I joined the school, I had a
        lot of stage fear but with the help of my teachers and friends I was able to overcome that. The motivation to
        join army was there in me since my childhood as my father was in army. Every day I used to see him in uniform
        and the amount of respect he got from the society were the major factors. I cleared my SSB in 5th and 6th
        attempt for NDA and TES entry respectively.<br />
        My first SSB was at 24 ssb Bangalore where I was conference out. Before my second attempt I took guidance from
        my seniors and friends who recommended me to join Georgians Academy for Professional studies in Delhi. I
        prepared well but when it came to performance I focussed more on result which affected my performance in GTO and
        I got Conference out. In My third and fourth attempt I got Screen out for technical entries, both due to my own
        faults. In the third SSB I kept waiting for my turn to speak in Group discussion which never came and in my
        fourth I spoke too much In PPDT discussion. After my fourth Attempt I got exhausted about my hard work not
        turning into result, so I returned home and restructured my whole schedule, started focussing on small things
        and started organising them in best possible way. I worked on my hobby and before my fifth attempt I again went
        back to Georgians academy and started from the scratch. I got my priorities cleared and started working towards
        my aim with full josh.<br />
        In the fifth attempt 59 candidates reported at SSB centre Allahabad out of which 36 got screened in. Day 2 was
        our Psychology where I was very comfortable due to extensive practice sessions at the academy. I could do all my
        stories on time as I could correlate all the stories to the activities I have done in my life; WAT was perfect
        and could do 35 SRT. Day 3 was GTO 1 which started with Group discussion which went well but it was the Group
        planning which went excellent. I was able to bring the group to a common plan with detailed solutions to each
        situation and was nominated by group to give Group Plan but gave the opportunity to another candidate who had
        raised his hand when asked by GTO. I did fairly well in PGT and HGT due to various brain storming sessions in
        academy. Individual lecture was perfect. I delivered it confidently. In Command task I was given quiet difficult
        task and with every time GTO kept asking alternate solutions and I was able to provide by keeping calm and using
        resources present as well as hidden. My Interview was on Day 4. It went smoothly. There were a few questions
        that I did not know and I told the interviewer the same with a smile. During the course of interview whenever I
        was wrong, I accepted the mistakes with Grace and explained the circumstances in crisp and clear way.<br />
        Next day the conference went for 15 seconds and finally the results were announced. The range of emotions that
        shot up cannot be expressed in words. The feeling of achieving ones dream is unparalleled to any other but one
        thing that but one thing I would remember for life is the tedious paperwork and the most satisfying sleep ever
        that night.<br />
        Exactly one month after that I had my army TES interview at 24 SSB Bangalore. Here 34 got screened in out of 294
        candidates who reported. All 5 days went very smoothly and finally two candidates got recommended. I was one of
        them. Life has taken a full circle. The whole journey of SSB ended from where it started (SSB centre Bangalore).
        On a lighter note the score went (2-2-2) 2 screen out, 2 conference out, 2 recommendation. The main thing is to
        never give up, you never know when your lucky stars will shine and your hard work pays off. So grab every
        opportunity, prepare well and give your best and leave the rest on almighty. Whatever I have achieved today
        could not have been possible without the guidance of the people around me. At the end I am greatly thankful to
        Georgians Academy For Professional Studies for showing me the path towards my aim, to my batchmates who stood up
        glowing beam of motivation, my seniors who kept on motivating to strike, my family which stood as a pillar at
        all times and last but not the least my Alma mater ( Rashtriya Military School Bangalore) because of which I am
        what I am.<br />
        Jai Hind</p>
</div>