<div class="blog-content">
    <p><strong><u>Staff Selection Commission</u></strong> or SSC has been one of the most desirable organizations for
        Government exams in India. It conducts Combined Graduate Level &#8211; SSC CGL exam every year for recruitment
        to non-technical Group ‘B’ and Group ‘C’ non gazetted posts in various Ministries/ Departments/ Organizations of
        the Government of India.</p>
    <p>Every year thousands of vacancies are filled by SSC in Government departments. Govt. jobs are the most sought
        after career choice in India. More so, the government is focusing on providing better facilities and services in
        every aspect of our lives. Govt is focusing on the development of our country and to do that millions of Jobs
        will be created in the coming years. SSC is the leading Govt. organization that provides employment to lakhs of
        students in India. A great opportunity lies ahead for all the SSC aspirants.</p>
    <p>The Staff Selection Commission (SSC) conducts the Combined Graduate Level (CGL) Exam for recruitment to various
        subordinate services like:</p>
    <ul>
        <li>Assistants in Ministries/Departments, Attached and Subordinate office of the Govt. of India.</li>
        <li>Inspectors of Central Excise &amp; Customs.</li>
        <li>Inspectors of Income Tax.</li>
        <li>Preventive Officers in Customs.</li>
        <li>Examiner in Customs.</li>
        <li>Sub-Inspectors in Central Bureau of Narcotics &amp; CBI.</li>
        <li>Assistant Enforcement Officer in Directorate of Enforcement, Department of Revenue.</li>
        <li>Divisional Accountant, Jr. Accountant, Auditor &amp; UDCs in various offices of Govt. of India.</li>
        <li>Auditor Offices under C&amp;AG, CGDA, CGA &amp; others.</li>
        <li>Accountant/ Junior Accountant</li>
        <li>Tax Assistant in CBDT and CBEC</li>
        <li>Compiler in Registrar General of India.</li>
    </ul>
    <p><strong>SSC CGL Notification 2018</strong></p>
    <p>The recruitment notification for <strong>SSC CGL 2018 has been released by SSC on 5th May</strong> by Staff
        Selection Committee of India. Tier-I exam of SSC CGL 2018 will be conducted from <strong>25th July to 20th Aug
            2018</strong>. SSC CGL 2018 Tier-II exam will be conducted in <strong>Novermber 2018</strong>.</p>
    <p>&nbsp;</p>
    <p><strong>SSC CGL 2018 Online Application</strong></p>
    <p>The online application for SSC CGL 2018 exam has started from 5th May 2018. The last date to apply online for SSC
        CGL 2018 Exam is 4th June 201</p>
    <p>&nbsp;</p>
    <p><strong>SSC CGL 2018 Exam Dates</strong></p>
    <p>The schedule for the SSC CGL 2018 exam is as follows. Please note down the important dates related to SSC CGL
        Exam 2018 and make sure to complete the process in time.</p>
    <p>SSC has published the <strong>revised schedule of all the exams</strong> to be conducted by SSC during 2018-2019.
        <strong>According to the SSC CGL 2018 Notification, the Combined Graduate Level Examination – 2018 Tier-I (CBE)
            will be conducted from 25th July to 20th Aug 2018(CBE)</strong>.</p>
    <table width="587">
        <thead>
            <tr>
                <td><strong>Activity</strong></td>
                <td><strong>Dates</strong></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>SSC CGL 2018 Online Application</td>
                <td><strong>5th May to 4th June 2018</strong></td>
            </tr>
            <tr>
                <td>SSC CGL 2018 Tier-I</td>
                <td><strong>25th July to 20th Aug 2018(CBE)</strong></td>
            </tr>
            <tr>
                <td>SSC CGL Tier-II</td>
                <td><strong>To be notified later</strong></td>
            </tr>
            <tr>
                <td>SSC CGL Tier-III (Des)</td>
                <td><strong>To be notified later</strong></td>
            </tr>
            <tr>
                <td>SSC CGL Tier-IV Exam</td>
                <td><strong>To be notified later</strong></td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
    <p><strong>SSC CGL Exam Dates 2017-18</strong></p>
    <table width="587">
        <thead>
            <tr>
                <td><strong>Activity</strong></td>
                <td><strong>Dates</strong></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Application starts form</td>
                <td>15th May 2017</td>
            </tr>
            <tr>
                <td>Last date for registration</td>
                <td>19th June 2017</td>
            </tr>
            <tr>
                <td>SSC CGL Tier-I Exam</td>
                <td><strong>5th Aug to 23rd Aug 2017</strong></td>
            </tr>
            <tr>
                <td>SSC CGL Tier-II(CBE)</td>
                <td><strong>17.02.2018 to 22.02.2018</strong></td>
            </tr>
            <tr>
                <td>SSC CGL Tier-III (Des)</td>
                <td><strong>Last Week of June 2018</strong></td>
            </tr>
            <tr>
                <td>SSC CGL Tier-IV Exam</td>
                <td>June/July 2018 (SKILL)</td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
    <p><strong>SSC CGL Vacancy</strong></p>
    <p>The Central Government has announced that they will hire as many as 2.2 Lakh people from March, 2015. Out of
        these a maximum of 70,000 vacancies, will be created in Income Tax, Excise and Customs Department. Approximately
        14 lac candidates appear for the SSC CGL exam every year. The SSC CGL Exam 2016 had an initial count of 4500 to
        5000 vacancies. However, the number of vacancies was increased to 9000 later. For 2017 CGL Exam, the number of
        vacancies as declared by Staff Service Commission of India is <strong>8089</strong>. The total number of
        <strong>vacancies for SSC CGL 2018</strong> will be updated soon here.</p>
    <p><strong>SSC CGL Exam Centre</strong></p>
    <p>The list of exam centres for SSC CGL Exam 2018 has been released by SSC with the official notification of SSC CGL
        2018.</p>
    <p>&nbsp;</p>
    <p><strong>SSC CGL 2018 Exam Pattern</strong></p>
    <p>The Staff Selection Commission (SSC) conducts the Combined Graduate Level (CGL) every year in four levels for
        various posts. Exam Pattern &#8211; The Examination will be conducted in four tiers as indicated below:</p>
    <table width="587">
        <thead>
            <tr>
                <td><strong>Tier</strong></td>
                <td><strong>Type</strong></td>
                <td><strong>Mode</strong></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tier – I</td>
                <td>Objective Multiple Choice</td>
                <td>Computer Based (online)</td>
            </tr>
            <tr>
                <td>Tier – II</td>
                <td>Objective Multiple Choice</td>
                <td>Computer Based (online)</td>
            </tr>
            <tr>
                <td>Tier – III</td>
                <td>Descriptive Paper in English/Hindi</td>
                <td>Pen and Paper mode</td>
            </tr>
            <tr>
                <td>Tier – IV</td>
                <td>Skill Test/Computer Proficiency Test</td>
                <td>Wherever Applicable</td>
            </tr>
        </tbody>
    </table>
    <p><u> </u></p>
    <p>Before beginning the SSC CGL preparation, it is important to make note of changes in exam pattern and syllabus.
        The modifications to SSC CGL Exam Pattern 2018 for Tier 1 &amp; 2 are given below:</p>
    <p><strong>SSC CGL Syllabus 2018</strong></p>
    <p>The major sections asked in SSC CGL 2018 Preliminary Exam are <strong>General Awareness, Reasoning, Quantitative
            Aptitude and English Language</strong>.</p>
    <table width="587">
        <tbody>
            <tr>
                <td width="25%"><strong>General Intelligence and Reasoning</strong></td>
                <td width="25%"><strong>General Awareness</strong></td>
                <td width="25%"><strong>Quantitative Aptitude</strong></td>
                <td width="25%"><strong>English Comprehension</strong></td>
            </tr>
            <tr>
                <td>Classification</td>
                <td>Static General Knowledge (Indian History, Culture etc.)</td>
                <td>Simplification</td>
                <td>Reading Comprehension</td>
            </tr>
            <tr>
                <td>Analogy</td>
                <td>Science</td>
                <td>Interest</td>
                <td>Fill in the Blanks</td>
            </tr>
            <tr>
                <td>Coding-Decoding</td>
                <td>Current Affairs</td>
                <td>Averages</td>
                <td>Spellings</td>
            </tr>
            <tr>
                <td>Puzzle</td>
                <td>Sports</td>
                <td>Percentage</td>
                <td>Phrases and Idioms</td>
            </tr>
            <tr>
                <td>Matrix</td>
                <td>Books and Authors</td>
                <td>Ratio and Proportion</td>
                <td>One word Substitution</td>
            </tr>
            <tr>
                <td>Word Formation</td>
                <td>Important Schemes</td>
                <td>Problem on Ages</td>
                <td>Sentence Correction</td>
            </tr>
        </tbody>
    </table>
    <p><strong>SSC CGL 2018 Exam Preparation</strong></p>
    <p>SSC CGL exam preparation must be done in a systematic manner, with latest exam pattern in mind. Since the
        syllabus covers a lot of topics, it is important to choose the right study material so that you can understand
        the concepts and practice a wide variety of questions as well. Apart from self study you can join any Coaching
        and Online Test Series for better exam preparation.</p>
    <p><strong>SSC CGL Coaching</strong></p>
    <p>Georgian Academy For Professional Studies classroom programs are most exhaustive coaching Programme in Banking
        and SSC verticals across India. Out of every 5 classroom students of Georgian Academy for Professional Studies,
        3 got selected for Banking or SSC jobs in 2016-17.</p>
    <p><strong>SSC CGL Mock Tests and Online Test Series</strong></p>
    <p>Georgian Academy for Professional Studies provides Online Test Series for various Bank &amp; SSC exams (like SSC
        CGL, SSC CHSL, IBPS, Bank PO, Bank Clerk, SBI, RBI, NABARD etc), which are well-researched and closely emulate
        the exact exam pattern. Practice papers are prepared keeping in the mind the last years exam pattern and
        exptected changed in the pattern and level of questions.</p>
    <p>&nbsp;</p>
    <p><strong>SSC CGL 2018 Eligibility Criteria</strong></p>
    <p>There are 4 important criteria which a candidate must fulfill in order to be eligible for the SSC CGL 2018. The 4
        parameters are given below:</p>
    <ol>
        <li>Citizenship: Candidate must be a citizen of India</li>
        <li>Age Limit: There are different set of age limits for different posts in SSC CGL Exam 2018, which are
            tabulated below:</li>
    </ol>
    <table width="587">
        <tbody>
            <tr>
                <td><strong>Age group</strong></td>
                <td><strong>Name of post</strong></td>
                <td><strong>Department / Ministries</strong></td>
                <td><strong>Class Fiction</strong></td>
                <td><strong>Grade pay</strong></td>
            </tr>
            <tr>
                <td rowspan="10">18-27 years</td>
                <td>Inspector</td>
                <td>Central Bureau of Narcotics</td>
                <td>Group “B”</td>
                <td>4600</td>
            </tr>
            <tr>
                <td>Auditor</td>
                <td>Officer under C&amp;AG</td>
                <td>Group “C”</td>
                <td>2800</td>
            </tr>
            <tr>
                <td>Auditor</td>
                <td>Officer Under CGDA</td>
                <td>Group “C”</td>
                <td>2800</td>
            </tr>
            <tr>
                <td>Auditor</td>
                <td>Other Ministries/Dept.</td>
                <td>Group “C”</td>
                <td>2800</td>
            </tr>
            <tr>
                <td>Accountant</td>
                <td>Officer under C&amp;AG</td>
                <td>Group “C”</td>
                <td>2800</td>
            </tr>
            <tr>
                <td>Accountant / Junior Accountant</td>
                <td>Other Ministry/ Dept.</td>
                <td>Group “C”</td>
                <td>2800</td>
            </tr>
            <tr>
                <td>Senior Secretariat Assistant / Upper Division clerks</td>
                <td>Central Govt. offices Ministries other than CSCS cadres</td>
                <td>Group “C”</td>
                <td>2400</td>
            </tr>
            <tr>
                <td>Tax Assistant</td>
                <td>CBDT</td>
                <td>Group “C”</td>
                <td>2400</td>
            </tr>
            <tr>
                <td>Sub-Inspector</td>
                <td>Central Bureau of Narcotics</td>
                <td>Group “C”</td>
                <td>2400</td>
            </tr>
            <tr>
                <td>Upper Division Clerk (UDC)</td>
                <td>Dte. General Border Road Organisation (MoD)<br />
                    Only For Male Candidates</td>
                <td>Group “C”</td>
                <td>2400</td>
            </tr>
            <tr>
                <td rowspan="2">18-30 years</td>
                <td>Inspector Posts</td>
                <td>Department of Post.</td>
                <td>Group “B”</td>
                <td>4600</td>
            </tr>
            <tr>
                <td>Assistant</td>
                <td>Other ministries / Dept. / Org.</td>
                <td>Group “B”</td>
                <td>4600</td>
            </tr>
            <tr>
                <td>20-27 years</td>
                <td>Tax Assistant</td>
                <td>CBEC</td>
                <td>Group “C”</td>
                <td>2400</td>
            </tr>
            <tr>
                <td rowspan="6">20-30 years</td>
                <td>Assistant Section officer</td>
                <td>Central Secretariat Service</td>
                <td>Group “B”</td>
                <td>4600</td>
            </tr>
            <tr>
                <td>Assistant Section officer</td>
                <td>Ministry of Railway</td>
                <td>Group “B”</td>
                <td>4600</td>
            </tr>
            <tr>
                <td>Assistant Section officer</td>
                <td>Ministry of External Affairs</td>
                <td>Group “B”</td>
                <td>4600</td>
            </tr>
            <tr>
                <td>Assistant Section officer</td>
                <td>AFHQ</td>
                <td>Group “B”</td>
                <td>4600</td>
            </tr>
            <tr>
                <td>Assistant</td>
                <td>Other Ministries / Dept. / Org.</td>
                <td>Group “B”</td>
                <td>4600</td>
            </tr>
            <tr>
                <td>Sub Inspector</td>
                <td>Central Bureau of Investigation</td>
                <td>Group “B”</td>
                <td>4600</td>
            </tr>
            <tr>
                <td rowspan="11">Not Exceeding 30 years</td>
                <td>Inspector, (Central Excise)</td>
                <td>CBEC</td>
                <td>Group “B”</td>
                <td>4600</td>
            </tr>
            <tr>
                <td>Assistant</td>
                <td>Other ministries / Dept. / Org.</td>
                <td>Group “B”</td>
                <td>4200</td>
            </tr>
            <tr>
                <td>Inspector (Preventive officer)</td>
                <td>CBEC</td>
                <td>Group “B”</td>
                <td>4600</td>
            </tr>
            <tr>
                <td>Inspector (Examiner)</td>
                <td>CBEC</td>
                <td>Group “B”</td>
                <td>4600</td>
            </tr>
            <tr>
                <td>Assistant Audit Officer</td>
                <td>Indian Audit &amp; Accounts Department Under CAG</td>
                <td>Group B Gazetted (Non-Ministerial)</td>
                <td>4800</td>
            </tr>
            <tr>
                <td>Assistant Audit Officer</td>
                <td>Indian Audit &amp; Accounts Department under CAG</td>
                <td>Group B Gazetted (Non-Ministerial)</td>
                <td>4800</td>
            </tr>
            <tr>
                <td>Assistant Section Officer</td>
                <td>Intelligence Bureau</td>
                <td>Group “B”</td>
                <td>4600</td>
            </tr>
            <tr>
                <td>Assistant Section Officer</td>
                <td>Other Ministries / Departments/ Organisations.</td>
                <td>Group “B”</td>
                <td>4600</td>
            </tr>
            <tr>
                <td>Assistant / Superintendent</td>
                <td>Other Ministries / Departments/ Organisations</td>
                <td>Group “B”</td>
                <td>4200</td>
            </tr>
            <tr>
                <td>Inspector of Income Tax</td>
                <td>CBDT</td>
                <td>Group “C”</td>
                <td>4600</td>
            </tr>
            <tr>
                <td>Divisional Accountant</td>
                <td>Officer under CAG</td>
                <td>Group “B”</td>
                <td>4200</td>
            </tr>
            <tr>
                <td rowspan="2">Up to 30 years</td>
                <td>Assistant Enforcement Officer</td>
                <td>Directorate of Enforcement, Department of Revenue</td>
                <td>Group “B”</td>
                <td>4600</td>
            </tr>
            <tr>
                <td>Sub Inspector</td>
                <td>National Investigation Agency (NIA)</td>
                <td>Group “B”</td>
                <td>4200</td>
            </tr>
            <tr>
                <td>Up to 32 years</td>
                <td>Junior Statistical Officer</td>
                <td>M/O statistics &amp; Prog. Implementation</td>
                <td>Group “B”</td>
                <td>4200</td>
            </tr>
        </tbody>
    </table>
    <ol start="2">
        <li>Age Limit: The Government has also provided for Age relaxation for some categories.</li>
    </ol>
    <table width="587">
        <tbody>
            <tr>
                <td><strong>S.No</strong></td>
                <td><strong>Category</strong></td>
                <td><strong>Age Relaxation</strong></td>
            </tr>
            <tr>
                <td>1</td>
                <td>OBC</td>
                <td>3 years</td>
            </tr>
            <tr>
                <td>2</td>
                <td>ST/SC</td>
                <td>5 years</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Ex-Servicemen (Gen)</td>
                <td>3 years</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Ex-Servicemen (OBC)</td>
                <td>6 years</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Ex-Servicemen (SC/ST)</td>
                <td>8 years</td>
            </tr>
        </tbody>
    </table>
    <ol start="3">
        <li>Educational Qualification: The educational qualifications varies according to the post for SSC CGL 2018 and
            is listed below:</li>
    </ol>
    <table width="587">
        <thead>
            <tr>
                <td><strong>SSC CGL Post</strong></td>
                <td><strong>Educational Qualification</strong></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Assistant Audit Officer</td>
                <td>Bachelor’s Degree in any subject from a recognized University<br />
                    OR<br />
                    Desirable Qualification: CA/CS/MBA/Cost &amp;<br />
                    Management Accountant/ Masters in Commerce/<br />
                    Masters in Business Studies</td>
            </tr>
            <tr>
                <td>Statistical Investigator Grade – II Post</td>
                <td>Bachelor’s Degree from any recognized University<br />
                    with minimum 60% in Mathematics in Class 12th<br />
                    OR<br />
                    Bachelor’s Degree in any discipline with Statistics as<br />
                    one of the subjects in graduation</td>
            </tr>
            <tr>
                <td>Compiler Posts</td>
                <td>Bachelor’s Degree from any recognized University<br />
                    with Economics or Statistics or Mathematics as<br />
                    compulsory or Elective Subject</td>
            </tr>
            <tr>
                <td>All Other Posts</td>
                <td>Bachelor’s Degree in any discipline from a<br />
                    recognized University or equivalent</td>
            </tr>
        </tbody>
    </table>
    <ol start="4">
        <li>Physical Fitness Requirements: Apart from the above, there are certain requisite Physical Standards for
            Inspector (Central Excise/ Examiner/Preventive Officer), Sub-Inspector in CBI (Central Bureau of
            Investigation) and Sub-Inspector in NIA (National Investigation Agency).</li>
    </ol>
    <p><strong>SSC CGL 2018 Application Fee</strong></p>
    <ul>
        <li>The required application fee is Rs. 100/-</li>
        <li>Exemption: No fee is required to be paid by female, SC, ST, Physically Handicapped, and Ex-Servicemen
            candidates</li>
        <li>Applications fee should be pay only through SBI either in the form of challan or through SBI Net Banking or
            any other bank Credit/Debit Card. Challan form will be generated online</li>
        <li>To pay fee in cash, candidate should take print out of challan generated online after the completion of
            Part-1 registration. Deposit the requisite fee in any branch of SBI and then continue with the Part-2
            registration</li>
        <li>Those candidates who want to pay online can go directly to part-2 registration after completion of part-1
            registration. Candidate must supply registration number and date of birth to continue to Part-2 registration
        </li>
    </ul>
    <p><strong>SSC CGL Admit Card</strong></p>
    <p>Every candidate who registers for SSC CGL Exam 2018 within stipulated time will be assigned an e-admit card/hall
        ticket/call letter that can be downloaded from the official website of SSC. The admit card for the CGL Tier-1
        exam will be released first followed by the admit card of CGL Tier-2 exam (administered to only those candidates
        who qualify for Tier 1 exam</p>
    <p><strong>SSC CGL Results</strong></p>
    <p>Staff Selection Commission (SSC) will release the results in four stages after completion of each Tier Exam. The
        candidates selected in the rounds progress to the next one. Candidates can check the result from the direct link
        to official SSC CGL website as and when the results are announced.</p>
</div>