<div class="blog-content">
    <p>The debate on celebrating the second annual Tipu Jayanti is underway in Karnataka and the political parties are
        taking the usual ideological positions. The two national parties have taken to the nasty sniping that could
        easily fuel the kind of acrimony, which has claimed two lives in Kodagu last year over the same issue.</p>
    <p>Last year, the Karnataka government declared that November 10 will be celebrated as Tipu Jayanti. It said this
        had been a long-standing demand of those who admired the Mysuru monarch as a freedom fighter for his trenchant
        battle against the British. Politicians and scholars are sharply divided over the declaration. Tipu is credited
        with two large-scale massacres: that of the Kodavas who were killed and tortured and forced to join Tipu’s
        “Ahmadi” army &#8212; the name Tipu assigned to the battalions formed of prisoners of war &#8212; and Mandyam
        Iyengars who were executed in large numbers in Melkote. According to the PIL filed in court “If Kodava today is
        one of the second least populated race in this world, it’s because of a barbaric character from history as Tipu
        Sultan. Tipu’s barbarism reached its peak from 1760 to 1790 and this period is considered as one of the most
        gruesome eras in the history of Kodavas.”</p>
    <h1>Was Tipu a tyrant?</h1>
    <p>When he ruled his “khudadad (god-given)” state, Tipu had extended his empire well beyond Mysuru. In these battles
        and campaigns to annex more territory and subjugate more people, did Tipu behave like a tyrant?</p>
    <p>The answer is both yes and no. </p>
    <p>While the Karnataka high court is right in saying that a retrospective colouring of Tipu as a freedom fighter
        doesn’t make sense, neither does it make sense to be shocked that a ruler of his times pillaged and killed his
        enemies. No one, however, can deny that Tipu’s roots lay firmly in Karnataka. How then did this ruler, who lived
        and died for a land that he believed was his own, become one of its most controversial figures centuries after
        his death?</p>
    <p>All monarchs, at some point in history, have sealed the geographical borders of their kingdom through various
        means: setting up check-posts, creating an informer base, tracking enemy movement and ensuring that communities
        living in border districts have unshakeable loyalty to the king. Tipu’s unapologetic rampage across the hills
        and coastal terrains of the region was a strategy to keep enemies out, one that many rulers adopted</p>
    <h1>Controversy behind Taj Mahal and other Mughal monuments</h1>
    <p>Taj Mahal is an instantly recognisable symbol of India. When filmmakers want to show they are shooting in London,
        they use Big Ben. In Paris, it is the Eiffel Tower. In Rome, it is the Coliseum.</p>
    <p>And when they want a symbol of India, it is always the Taj Mahal.<br />
        Of course, the Taj is more than just a monument that symbolises India. It is also one of the wonders of the
        medieval world, an architectural marvel of extraordinary beauty.</p>
    <p>It was built by the Mughal Emperor Shah Jahan as a mausoleum to his beloved wife Mumtaz Mahal, an elaborate
        tribute to their great love story. More recently, it has become a symbol of the search and the loss of love.</p>
    <p>Taj is constructed by an Indian king (Shah Jahan) using India money. He is the same king who gave the 17th
        century Sanskrit poet Jagannatha, the title of &#8216;Panditraj&#8217; and compiled dhrupad songs of a 16th
        century poet in the book titled &#8216;Saharas&#8217;. Had you read the book &#8216;the history of Mughal
        Architecture&#8217;, you would not have given that statement. Is it justifiable on your part to negate the
        Mughal era and contributions made during this time without reading about them,&#8221;</p>
    <p>The Controversy weather the Mughal era monuments should get importance is one of the most absurd topics of
        discussion in 21 century. If we look at our history we will find a lot of rulers coming from different part of
        the world and contributing toward our cultural heritage. Mughals, Afghans, Britishers, French, Portuguese etc
        all have their shares in indian history. India has varied culture and it has various monuments of different eras
        resembling the deep cultural diversity and we must preserve it and feel proud over it.</p>
    <h1>What should be our priority?</h1>
    <ul disc-style="circle;">
        <li>In 21 century in the country with the maximum number of youths the topic of discussion should be issues
            related to youths. Employment, Education, skill development, sports etc.</li>
        <li>There is no problem in celebrating the birth anniversary of Tipu sultan as so many jayanti are also
            celebrated in different part of the country by different groups. But the amount of tax payers’ money spent
            on the festivities should be checked as the same money can be utilised for better purposes like iradication
            of poverty, education, health and other challenges india is facing.</li>
        <li>We must preserve and protect our cultural pluralism and not get diverted by vested groups for their
            self-interest. India is a country which has varied culture and plurality, which can’t be ignored.</li>
        <li>Youngsters should recognise themselves as Indians rather than on their religious identity or caste. This is
            the only way to take our country forward.</li>
    </ul>
</div>