<div class="blog-content">
    <p>“Some Goals Are So Worthy. It’s glorious even to fail”. These Golden lines by Captain Manoj Kumar Pandey Always
        kept me going. I am Sahil Datt, currently a GC at OTA Chennai. Coming from a civilian background but having
        picked up interest in Army as a child, I gave my NDA exam thrice but couldn’t clear the written part because of
        being week in Maths. Then I joined Delhi university and took NCC in SGND Khalsa College and Completed my BA.
        During my college days I gave my best effort in NCC and learned a lot. During my Final year I started preparing
        for CDS. I was able to clear my CDS exam in first attempt and started preparing for SSB at a guidance program
        run By Georgians Academy For Professional Studies. I Was able to prepare for my First SSB for only around 15
        days and because of lack of preparation at my end and faulty mindset regarding the process, got conferenced out
        in my first Attempt from Allahabad. I came back and analysed my mistakes. My Second attempt was NCC Special
        Entry and the centre was Kapurthala. Reporting was around 300 while only 29 got screened in which I was not a
        part of. I realised my mistake that I had taken a lot of pressure in screening. I came back and worked on the
        grey areas and finally gave my third attempt with best preparation, cool mind and without any kind of pressure.
        The results spoke for itself. In my third attempt I was the only one to get recommend for NCC Special Entry from
        Allahabad. I was on the top of the world. Coming to the place I prepared from, i.e Georgians Academy , Dwarka ,
        New Delhi I would like to mention the points that made me improve a lot.<br />
        It is a guidance program which concentrates on individual case unlike making a set of rules to be followed by
        all. The positive environment and the ever helping nature of the mentors here is of utmost help. They keep
        pushing you forward until you become an Officer even if it takes months of preparation for a candidate. Even if
        due to any reason a candidate is not able to join the armed forces, the SSB preparation here, makes him a better
        version of himself.<br />
        The regular practice of Lectures, Group Discussions along with Screening and GTO practice helped me a lot.
        Special attention was given to the Psychology part wherein I was advised as to what should be my individual
        approach according to my own life. All in all, SSB preparation and then finally clearing it gave me new
        horizons. Joined OTA now. Looking forward to a great life.<br />
        GO GET IT. JAI HIND.</p>
</div>