<div class="blog-content">
    <p><strong><u>Tips to clear SSB</u></strong></p>
    <p>If you are someone who sees himself like a leader of tomorrow then Armed forces provide you with this opportunity
        at an early age only. The aura of a armed force personal in his/her dress will make them stand out in a crowd.
        Indian armed forces provide equal opportunity for all to be a part of their family. You just have to clear some
        written test and your SSB , where you will be judged on your general awareness , psychology ,teamwork and with
        your leadership quality.</p>
    <p><strong>Here are some tips to clear SSB:</strong></p>
    <ol>
        <li>Some of the qualities to consider are: Leadership skills, team work, communication skills, initiative and
            creativity.</li>
        <li>Wear clothes that are neat and comfortable.</li>
        <li>Speak clearly with proper intonation</li>
        <li>Maintain eye contact</li>
        <li>Be Confident</li>
        <li>Try to listen other points also instead of speaking yours only.</li>
        <li>Have a plan for Group task and individual task.</li>
        <li>Show your strength and try to be natural.</li>
    </ol>
    <p>These are the few basic things which will make you wearing a PLUS sign on your chest and make you clear your SSB.
    </p>
</div>