<div class="blog-content">
    <p>Very warm and sincere greetings to all the defense aspirant here. I am HARSH SHEORAN and I got recommended for
        NDA-142 and TES-42. Well before starting the story let me tell you about myself, I Belong to Bhiwani, Haryana
        and presently pursuing BA from Kirorimal college, DU.<br />
        So for me to join armed forces was very natural as my family legacy. My father is retired as a JCO from Corps of
        engineer and my brother is going to pass out from NDA this December So whatever I am writing is based on the
        experience of two recommendations I have got, my brother and friends who got recommended with me and the success
        stories that I have read on SSB CRACK and most important ,whatever i learned at GEORGIANS ACADEMY FOR
        PROFESSIONAL SUDIES, NEW DELHI www.georgiansacademy.in<br />
        Now until I got recommended, I used to read a lot of stories on SSBcrack, now as I got recommended ,I felt it as
        my responsibility to write a story to continue the cycle .<br />
        Now the ssb procedure is divided into 5 days and 4 techniques<br />
        Screening<br />
        Psychology<br />
        Interview<br />
        GTO<br />
        Now in screening there are 4 parts<br />
        OIR<br />
        1. Simple test of verbal and non- verbal questions<br />
        2. Practice some question<br />
        3. Usually not very tough , one with normal IQ can easily do<br />
        STORY COMPREHEND<br />
        A picture is shown to us and we have to write a story around it, after that it is followed by narration and
        discussion. In my opinion there are only 2 ways to write a story. The same approach will be there for writing
        TAT stories in PSYCHOLOGY.<br />
        1. Try to relate with you, your hobbies, your PIQ….. for e.g<br />
        →if studying scene … can relate with quiz if u have done<br />
        →if outdoor hiking…the trip∕ tour you have made in school or college<br />
        2. Go with authority<br />
        It is not possible to write every story around u, so the remaining stories can be handled by introducing
        authority and solving a problem..for e.g<br />
        → IAS officer on solving agriculture crisis …. If field scene. Farmers, solving theft and robbery cases,
        promoting clean India program etc<br />
        → ARMY officer, Medical officer etc. as per the picture<br />
        The best part about authority stories is you can prepare them beforehand.<br />
        The main concept behind writing stories is that after reading 12 stories of TAT the psychologist must know
        everything about you ( when u relate stories with PIQ) and how better you can plan and organize.<br />
        Now some points<br />
        1. Do not write character name as Ram/Shyam instead of it write name of your friends.<br />
        2. Observe the picture fully …….if it is KUTUB MINAR do not write EIFFEL TOWER i.e no pre occupied
        thoughts<br />
        3. Show the working part more i.e planning and organization.<br />
        4. Have some stories prepared beforehand …authorities and related to your PIQ.<br />
        NARRATION<br />
        1. Revise it again and again. u will get enough time before narration<br />
        2. Speak confidentially ,loud and slow<br />
        3. Have a smile<br />
        4. Neatly dressed<br />
        GROUP DISCUSSION<br />
        1. If it is going to be fish market then you have two choices<br />
        →raise voice, shout to control and direct the group, appreciate the stories of others by calling the chest
        number,<br />
        As you do this you will automatically get the support of them<br />
        →put your points calmly try your best and if still there is no coordination then it’s better to sit calm and
        composed<br />
        That’s all about screening<br />
        INTERVIEW<br />
        Interview is one of the easiest technique of SSB .It’s one to one conversation with officer usually with a rank
        of Colonel .If you prepare it well you can tackle it easily.<br />
        In both my recommendations my interview was of 15-20 minutes (I don’t know why…but good for me)<br />
        Now must things for interview<br />
        →Be as neatly dressed as you can ,your dressing style should speak for you<br />
        →whatever be the situation always have a smile on face<br />
        Now I am writing the possible question that can be asked by breaking the PIQ<br />
        1. meaning of your name, justify it<br />
        2. Train details of which you can coming like train number, states it passed, what you did during your journey,
        total distance and average speed<br />
        *if you going by flight be ready for Bernoulli Theorem<br />
        3. The good and bad things about three places i.e. your permanent address, present address, and the place where
        you have lived the most and the comparison between them<br />
        4. Strength and weakness of each of the family member and incident to prove them<br />
        5. if I met with your mother/father/brother/sister/best friend what he will tell about you to me<br />
        6. Now some related to your education<br />
        <Tell me the percentage from 8th to 12th>
            < the exams u have appeared>
                <best and worst subject/teacher with reason>
                    <if you scored less than why>
                        <unit conversions>
                            <if u have changed your school/stream than why><br />
                                7. best and worst day/friend with reason<br />
                                8. One thing u wants to improve in your best friend and one thing your best friend wants
                                to improve in you<br />
                                9 Analyze your psychology test …..IO sees that and can ask question …..Sometime you
                                realize that why he asked me that question ….the origin of such question is from your
                                psychology dozier<br />
                                10 Daily routine on normal days and how it is different from Sunday<br />
                                11 how u organize your pocket money<br />
                                12 Information about your father’s profession, his earnings<br />
                                13 Every minute detail about your sports, hobbies, and CCA activities that u have
                                mentioned in PIQ<br />
                                14 Why u want to join ARMY/NAVY/AIRFORCE …..Recent deals of armed forces, organization
                                of armed forces, ranks, structure etc<br />
                                15 Tell me about 5 international /national/sports news …. It’s always good if u remain
                                in touch of newspaper<br />
                                16 Why u did not get recommended in last attempt, how you prepared this time, what will
                                u do if you did not get recommended this time too<br />
                                17 Some technical questions ….hydrodynamics and hydro fluids…. Bernoulli theorem and its
                                application, Pascal’s law, Archimedes principal, concept of torque, how fan rotates, how
                                boat and works.<br />
                                18 How will you organize any sport or CCA EVENT?<br />
                                IF YOU PREPARE ALL THESE QUESTIONS, CHEERS 95 % OF INTERVIEW IS OUT<br />
                                Interview is all about how good you know about yourself, how you observe things and how
                                u make opinion about them.<br />
                                If u thinks that u have not done so well in academics ,sports ,CCA , and in
                                responsibilities than best thing one can do is to START WITH TRUTH AND END UP WITH LIE
                                .<br />
                                PSYCHOLOGY<br />
                                The most important thing in SSB is psychology. If you get an edge OVER it half of the
                                battle is won to improve psychology, improve yourself in daily life. There are four
                                techniques in psychology.<br />
                                1 TAT<br />
                                In this you have a story on 12 photos …and the concept of story writing is explained
                                earlier.<br />
                                2 WAT<br />
                                In this test you have to write sentence on 60 words. Things to keep in mind are ….go
                                with the feelings, you do not need to include the word in sentence, practice some set
                                before SSB<br />
                                3 SRT<br />
                                In this test one has to write response to 60 situations ….things to keep in mind<br />
                                1. Quality > quantity. If u have done anything above 30 its fair enough , provided u
                                have written quality response<br />
                                2. Read the situation calmly and write the complete solution…do not try to rush.<br />
                                3. For the best solution try to put yourself in same situation in reality and how you
                                would have reacted<br />
                                4. Do not skip the SRT<br />
                                4 SELF DESCRIPTION<br />
                                In this test we have describe ourselves as the name suggest. We have to write five
                                paragraphs under heading…what is the opinion your parents /teachers/friends/yourself
                                about you and what kind of person you want to be like<br />
                                GTO<br />
                                This is the test in which you can do extremely well if you coordinate well with the
                                group. A little knowledge and true gentlemen behavior will sail you through it .<br />
                                FOR GD<br />
                                1. Read newspaper and u will have enough points to speak about<br />
                                2. Be calm ,composed and complete relax… don’t show that you are desperate for
                                speaking<br />
                                3. Listen to others genuinely<br />
                                4. Do not cut others point<br />
                                5. Do not get in one to one argument<br />
                                6. There comes a time for 3 to 4 seconds when whole group is quite, grab that
                                opportunity and put your point<br />
                                For GPE<br />
                                1. Understand the structure well<br />
                                2. First discuss the problems according to priority wise ,then discuss resources and
                                then solution part<br />
                                3. Listen point of all<br />
                                4. Raise your voice if u thinks it is going to be a fish market and provide direction to
                                group<br />
                                LECTURATE<br />
                                In this activity we have to choose a topic over 4 and speak for 3 minutes. Its good if
                                topics come of your interest otherwise pick a normal topic and organize it well. Try to
                                connect it with normal day to day life and connect it with latest happenings. The main
                                thing they check is your confidence and how well u organize it with limited knowledge.
                                Stand confident, make eye contact, speak loud and slow and have pitch variation.<br />
                                NOW FOR REMAINNING ACTIVITES OF GTO, IT’S A GAME, the more u enjoy the more you are
                                going to get. One cannot do all the things in PGT ,HGT,FGT ,GROUP RACE . So understand
                                your group, appreciate others and coordinate as much as you can .<br />
                                CONFERENCE<br />
                                1. Analyze your performance genuinely.<br />
                                2. Dress up well and keep a smile.<br />
                                3. Speak confidently<br />
                                4. Relax. You have done already what could be done.<br />
                                I have tried to explain in the best way. But still you have any doubt you can always
                                drop a message on my INSTAGRAM ID i.e im_sheoran.harsh .<br />
                                At last I would like to thank Kunwar Pratap sir and Deepak sir for their constant
                                Guidance and Motivation.<br />
                                JAI HIND
    </p>
</div>